<!--Main Content-->
  <main class="container" style=" margin: auto;">
    <div class="jumbotron">     
        <% if(title == "About Me") { %>
            <h1 class="display-4" style= "text-align: center"><b>About Me</b></h1><br><br>
            <div class="main_con" style= "align:center">
                <div style= "display: table-cell ; float:left;">
                    <img src="Assets\images/photo.jpg" />
                </div>

                <div class="main_con_r1">
                    <h3 class="display-6">DIVYA G NAIR</h3>
                    <p>
                        khfiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu 
                    </p>
                    <a href="Assets\files\DIVYA_G_NAIR_ Resume.pdf" style="color: #000;"><b>My Resume</a>
                </div>

            </div>
              
        <% } else if(title == "Projects") { %> 
            <h1 class="display-4" ><b>My Projects</b></h1><br><br>
            <div class = "tab_con" >
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/apparels_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Apparel Ecommerce Website</h3>
                        <p>
                            khfiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu 
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/areonautics_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Aeronautics Ecommrce Website</h3>
                        <p>
                            khfiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu 
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/automobile_image.png" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Automobile Ecommerce Website</h3>
                        <p>
                            khfiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu 
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/healthCare_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">HealthCare Ecommerce Website</h3>
                        <p>
                            khfiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu 
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
        <% } else if(title == "Services") { %> 
            <h1 class="display-4" style= "text-align: center"><b>My Services</b></h1><br><br>
            Below are the list of services which I offer in Information and Technology domain: 
            <br><br>
            <div class = "content"  style=" padding: 25px 25px 25px 25px; align:center">
                <ul>
                    <li>
                        <h3> <b>Web Application Development </b></h3>
                            <img src="Assets\images/web_application_image.jpg" style = "align:center"/>
                                hkjhjgjdhgdjhfjhfjh
                    </li>
                    <br>
                    <li>
                        <h3> <b>Android Application Development </b></h3>
                        <img src="Assets\images/android_application.jpg" style/>
                    </li>
                    <br>
                    <li>
                        <h3> <b>Cloud Computing with AWS </b></h3>
                        <img src="Assets\images/aws-images.jpg" />
                    </li>
                    <br>
                    <li>
                        <h3> <b>Project Management </b></h3>
                        <img src="Assets\images/project_management.jpg" />
                    </li>
                    <br>
                </ul>
        <% } %>    
    </div>
  </main>