<!--Main Content-->
  <main class="container" >
    <div class="jumbotron">     
        <% if(title == "About Me") { %>
            <h1 class="display-4"><b>About Me</b></h1><br>
            <div class="main_con" style= "align:left">
                <div style= "display: table-cell ; float:left; align:left">
                    <img src="Assets\images/photo.jpg" /><br><br>
                    <h3 class="display-6">DIVYA G NAIR</h3>
                </div>

                <div class="main_con_r1">                  
                    <p class="" style="text-align:justify; font-family: arial; padding: 10px 10px 10px 10px;">
                       &nbsp Highly organized and ambitious IT professional from India having 5 years of IT industry experience in developing E-Commerce web applications using SAP Hybris framework. I am enrolled into Software Engineering Technology- Artificial Intelligence as I have been deeply inspired by the new age of intelligent systems. I believe studying and researching new things that are not content with mediocre in a top tier institution will help me to notch my dream career of being an AI developer.  
                       <br>
                       I worked as an Application Development Senior Analyst in top MNCs and have extensive hands-own experience in working with leading technlolgies and programming languages. I am a self motivated and optimistic individual who always have a deep quest for knowledge and enthusiasm to learn and explore different domaain and technologies.           </p>
                    
                </div>              
            </div>
            <a href="Assets\files\DIVYA_G_NAIR_ Resume.pdf" style="color: #000;text-decoration:underline; align:center"><b>My Resume</a>
        <% } else if(title == "Projects") { %> 
            <h1 class="display-4" ><b>My Projects</b></h1><br><br>
            <div class = "tab_con" >
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/apparels_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Apparel Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                          &nbsp  I worked as a Senior System Analyst for a UK based Apparel store. Being one of the primary resource in the project, I worked in developing core modules such as products and orders of the web application. Gained command over end to end flow of an e-commerce tool.  
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con" >
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/areonautics_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Aeronauticals Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                           &nbsp A primary resource in developing online enterprise application for world's one of the most leading leading aeronautical company. Have received commandable appreciation and recognition for exhibiting excellence in adding new features into the project and upgrading the existing functionalities and hence enhancing th euser experience in a B2B Ecommerce application.
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/automobile_image.png" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Automobile Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                           &nbsp I worked as a key member among a set of enthusiastic developers to provide support and maintanence for a Japenese automobile web application. Core member in taking responsibilities and resolving priority defects raised during the production phase of the project. Played an important role in actively supporting the team during critical situations. 
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/healthCare_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">HealthCare Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                           &nbsp Independently worked in developing a US HealthCare web application. Successful in handling major modules such as Customer management, Order and checkout. I was a promary resource in enhancing the look and feel of the website according to user preferance and requirements.
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
        <% } else if(title == "Services") { %> 
            <h1 class="display-4" ><b>My Services</b></h1><br><br>
            <p style=" font-family: arial; ">
            <b>Below are the list of services which I offer in Information and Technology domain:<b> 
            <br>
            <div class = "content"  style=" padding: 25px 25px 25px 25px; align:center; border: 2px solid black;">
                 <img src="Assets\images/web_application_image.jpg" class = "" style = "padding-left: 150px; opacity: 0.7 "/>
                 <b style="font-size: 22px; text-align:center; ";> Web Application Development </b>   
                 <br><br>
                 <img src="Assets\images/android_application.jpg" style= "padding-left: 150px; opacity: 0.7 ";/>
                 <b style="font-size: 22px;text-align:center";>Android Application Development </b>
                 <br><br>
                 <img src="Assets\images/aws-images.jpg" style= "padding-left: 150px; opacity: 0.7 "/>
                 <b style="font-size: 22px;text-align:center";>Cloud Computing with AWS </b>
                 <br><br>
                 <img src="Assets\images/project_management.jpg" style= "padding-left: 150px; opacity: 0.7 "/>
                 <b style="font-size: 22px;text-align:center";>Project Management </b>
                 <br><br>
         <% } %>    
    </div>
  </main>