<!--Main Content-->
  <main class="container" style=" margin: auto;" >
    <div class="jumbotron" >
      <h1 class="display-4" style="text-align: center;"><b>Contact Me</b></h1>   
      <br><br>
      <div class ="content">
           <form action="/home">
                <label for="fname">First name:</label>
                <input type="text" id="Message" name="fname" value=""><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname" value=""><br>
                <label for="contactnumber">Contact Number:</label>
                <input type="text" id="contactnumber" name="contactnumber" value=""><br>
                <label for="email">Email Id:</label>
                <input type="text" id="email" name="email" value=""><br>
                <label for="message">Message:</label><br>
                <textarea rows="4" cols="50" name="message"
                placeholder="Enter you text here..."></textarea>
                <br>
                <input type="submit"/>
                
            </form>
            
      </div>
    
    </div>
  </main>

 