<!--Main Content-->
  <div class="container">
    <div class="jumbotron" >
      <h6 class="display-4" ><b>Hello everyone, I am!</b></h6>   
      <div class="display-2" ><b>Divya Nair<b></div>  <br>
       <p style = "text-align :center"><b> Software Engineer | Web Developer <b></p>
      <br><br><br>
      <p class="" style="text-align:solid; font-weight: 300">Experienced Software Developer with a demonstrated history of working in IT with leading companies. Skilled in developing Ecommerce web applications using SAP hybris, , Java, Spring, HTML, CSS, Javascript and database languages- SQL, MySQL, HSQL, Oracle. Strong engineering professional with an Engineer’s Degree focused in Computer Science and Engineering. Highly desired and motivated to pursue higher education in the field of Artificial Intelligence as I have always been fascinated about adaptive and intelligent systems.</p>
      <a  href="/about" style="color: #000;"><b>About Me</b></a> &nbsp;
      <a href="/projects" style="color: #000;"><b>Projects</b></a>&nbsp;
      <a  href="/services" style="color: #000;"><b>Services</b></a>&nbsp;
      <a  href="/contact" style="color: #000;"><b>Contact Me</a> &nbsp;

    </div>
  </div>