/* custom css goes header */



.jumbotron
{
    background: url('bg-image.jpg');
    margin: 50px 50px 75px 100px;
}
.display-4
{
    text-align: center;
    
}

.tab_con
{
    border:2px solid black ;
    padding: 25px 25px 25px 25px;
}
.row_con
{
    border:0px solid black; 
    height:50px; 
    display: table-row;
    width: 800px;

}
.col_con
{
    border:0px solid black;
    text-align: center ;
    display: table-cell;
    float: right; 
    width: 500px; 
    height:50px;  
    margin-left:10px"
}

.main_con{

    border:0px solid black;
    height:300px; 
    display: table-row ;
}
.main_con_r1
{
    border:0px solid black;
    text-align: center ;
    display: table-cell; 
    float: right;
    width: 700px;
    height:270px;
    margin-left:10px;
    border: 3px solid black;
}

.profile-image 
{
    background: linear-gradient(to left bottom, var(--bg) 50%, var(--p-color) 50%);
}
.row 
{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.display-2
{
   text-align: center;
font-size: 50px;
}

.form {
    margin: 0 auto;
    width: 210px;
}

label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
    }
    
input{
}
    
fieldset{
    border:none;
    width:500px;
    margin:0px auto;
    }
textarea
{
     margin-left:230px;
        
}
.m_btn{
    margin-left:230px;
}

.hero {
    position: relative;
    padding: 5em 0;
    overflow: hidden;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.hero-bg {
    background: linear-gradient(
170deg
, var(--primary-color) 64%, var(--white-color) 30%);
}
.contact_det
{
    float: left; 
    border: 2px solid black;
    width:30%; 
    background-color:black; 
    position: right;
    margin-left:50px;
    padding: 125px 10px 25px 10px; 

}
.contact_mess
{
    float:right; 
    padding: 125px 10px 25px 0px; 
    width:70%;
    border: 2px solid black; 
    background-color:white ;
}